KEY_PATH=./credentials/FILE_NAME      
CERT_PATH=./credentials/FILE_NAME
CA_PATH=./credentials/FILE_NAME   
AWS_IOT_ENDPOINT=                   
DATABASE_URL=                       
DB_QUERIES=./src/server/db/queries
